@import "http://fonts.googleapis.com/css?family=Ledger|Open+Sans";
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Minecraft Regular";
  src: url("/mcsanta/mc_regular_font/minecraft_font.eot?") format("eot"), url("/mcsanta/mc_regular_font/minecraft_font.woff") format("woff"), url("/mcsanta/mc_regular_font/minecraft_font.ttf") format("truetype"), url("/mcsanta/mc_regular_font/minecraft_font.svg#Minecraft") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ledger', serif;
  text-align: center;
  font-size: 200%;
  margin: 10px;
}
body {
  background-image: url("/mcsanta/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.mc_font {
  font-family: 'Minecraft Regular';
}
#splash {
  background: #D4D4D4;
  border-radius: 4px;
  color: #101010;
  padding: 4px 7px;
  text-align: center;
}
a {
  color: #4183D7;
}
#container {
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 15px rgba(50, 50, 50, 0.75);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 3px 10px 10px;
  width: 600px;
}
#ad {
  padding-top: 5px;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  display: block;
}
#ad a {
  font-size: 8pt;
  text-decoration: none;
  color: black;
}
.userinput {
  display: block;
  width: 100%;
}
form {
  display: block;
  text-align: center;
  width: 450px;
  margin: 20px 75px 30px;
}
form lable,
form input {
  display: block;
  margin: 5px 0;
}
form lable {
  font-size: 120%;
}
form input#user {
  width: 100%;
  position: relative;
  display: block;
  font-size: 110%;
  padding: 7px 10px;
  border: 2px solid #ADADAD;
  background: #555;
  color: #fff;
  font-family: 'Minecraft Regular';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form input#user:focus {
  background: #222222;
}
form input#submit {
  width: 100%;
  font-size: 110%;
  padding: 7px 20px;
  border: 2px solid #DEDEDE;
  background: #949494;
  color: #fff;
  font-family: 'Minecraft Regular';
  cursor: pointer;
}
form input#submit:hover {
  background: #7E88BF;
  color: #FFFFA0;
}
.server-status .status-green {
  padding: 2px 3px;
  border-radius: 3px;
  color: white;
  background: green;
}
.server-status .status-orange {
  padding: 2px 3px;
  border-radius: 3px;
  color: white;
  background: orange;
}
.server-status .status-red {
  padding: 2px 3px;
  border-radius: 3px;
  color: white;
  background: #DB0101;
}
iframe#twitter,
a#twitter {
  float: right;
}
#urlfield {
  font-family: 'Open Sans';
  font-size: 16px;
  height: 30px;
  text-align: center;
  width: 460px;
}
.backup {
  font-style: italic;
  text-align: center;
}
.changeskin {
  font-weight: 700;
  font-size: 110%;
  text-align: center;
  display: block;
}
#disclaimer {
  text-align: center;
}
#frame {
  text-align: center;
}
#backtohomepage a {
  background: #4183D7;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
  text-decoration: none;
}
#backtohomepage a:hover {
  background: #286abd;
}

#error {
	color: white;
	font-weight: bold;
	background: #DB0101;
	padding: 7px;
	border-radius: 5px;
}